<!DOCTYPE html>
<html>
<head>
    <title>
        Mulligan Decider
    </title>
    <link href={{ url_for('static', filename='quagtail.png') }} rel="icon" type="image/png" />
    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" type="text/css">
    
</head>
<body>
    <input type="text" placeholder="Enter card name" id="myInput" onkeyup="filterFunction()">
    <div id="dropdown" class="dropdown-content">
    </div>
    <div id="roster">
    </div>
    <label for="checkbox">On Play?</label>
    <input type="checkbox" id="onplay">
    <br/>
    <label>Cards:</label>
    <input type="radio" id="7cards" name="cards" value="7" checked>
    <label for="huey">7</label>
    <input type="radio" id="6cards" name="cards" value="6">
    <label for="huey">6</label>
    <input type="radio" id="5cards" name="cards" value="5">
    <label for="huey">5</label>
    <input type="radio" id="4cards" name="cards" value="4">
    <label for="huey">4</label>
    <input type="radio" id="3cards" name="cards" value="3">
    <label for="huey">3</label>
    <input type="radio" id="2cards" name="cards" value="2">
    <label for="huey">2</label>
    <input type="radio" id="1cards" name="cards" value="1">
    <label for="huey">1</label>
    <br/>
    <button onclick="submit()">Submit</button>
    <div id="result"></div>
    <a href="/about">How This Works</a>
    <a href="https://github.com/Noah-R/Mulligan-Decider">Source Code</a>
    <script>
cards = JSON.parse('{{ cardnames }}'.replaceAll("&#34;", "\"").replaceAll("&#39;", "\'"));
hand=[]

function updateHand(){
    roster = "";
    if(hand.length>7){
        hand = hand.slice(hand.length-7, hand.length);
    }
    for(var x=0; x<hand.length; x++){
        roster+="<p>"+hand[x]+"</p>";
    }
    document.getElementById("roster").innerHTML=roster;
}

function addCard(e){
    hand.push(e.textContent);
    updateHand();
}

function filterFunction() {
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    document.getElementById("dropdown").innerHTML=""
    for(var x=0; x<cards.length; x++){
        if (cards[x].toUpperCase().indexOf(filter) == 0) {
            document.getElementById("dropdown").innerHTML+="<button onclick=addCard(this)>"+cards[x]+"</button>\n";
        }
    }
}
function getNumCards() {
        var buttons = document.getElementsByName('cards');
        for(var i=0; i<buttons.length; i++) {
            if(buttons[i].checked){
                return parseInt(buttons[i].value);
            }
        }
        return -1;
    }
function submit(){
    /*
    console.log("Model will predict on the following");
    console.log("Hand: "+hand);
    console.log("Cards: "+getNumCards());
    console.log("On play: "+document.getElementById('onplay').checked);
    */
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/predict");
    xhr.setRequestHeader('Content-Type', 'application/json');

    stuff = JSON.stringify({
        hand: String(hand),
        cards: getNumCards(),
        onplay: document.getElementById('onplay').checked
    });
    
    document.getElementById("result").innerHTML="<p>Working on it...</p>";
    xhr.send(stuff);

    xhr.onload = function() {
        document.getElementById("result").innerHTML="<p>"+this.responseText+"</p>";//JSON.parse(this.responseText)
    }
}
    </script>
</body>
</html>